@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --lightPurple: #9747FF;
    --secondaryPurple: #7F24F5;
    --boxBackground:#141316;
    --boxBorder:1px solid #323232;
    --boxBorderRadius:15px;
}


html,
body {
    margin: 0;
    padding: 0;
    background-color: #0A090D;
    font-family: "Kanit", sans-serif;
    color:white
}



p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}


input:-webkit-autofill {
    background-color: white !important;
}

input:-webkit-autofill::first-line {
    font-size: 16px; /* You can customize this */
    color: white; /* Customize text color */
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}